body {
  background-color: #bcbcbc;
}

.navbar-brand {
  padding-right: 30px;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #36393f;
}

.jumbotron .display-4 {
  color: whitesmoke;
}

.jumbotron .lead {
  color: #fa4454;
}

footer {
  background-color: #36393f;
  color: whitesmoke;
}

footer .change-color {
  color: #fa4454;
}
